# Node
node_modules/
npm-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/
*.orig.*

# Build artifacts
*.apk
*.aab
*.jks
*.keystore

# Env / secrets
.env*
!.env.example
google-services.json

# Misc
.DS_Store
*.log
.idea/
.vscode/
